ran1.txt
*.txt
garbage.py
*.xlsx
*.xls
*.png
*.jpeg
/pdata*
*.pdf
/xlsfileprocess/*.dat
/xlsfileprocess/namingFinalfile.py
*.pyc
/xlsfileprocess/*.csv
/xlsfileprocess/*.zip
/xlsfileprocess/*.json
*.json
/xlsfileprocess/myenv/
/xlsfileprocess/*.pyc
/xlsfileprocess/Amplitudephase.dat
/xlsfileprocess/finalcombined_data.dat
/xlsfileprocess/finalcombined_datannnnnnnnn.dat
/xlsfileprocess/myevev/
/xlsfileprocess/dataproblem/
